name : Java code build and  recview  via sonarcube
on:
  push:
    branches:
      - master
jobs:
  buildjavacode:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Set up Java 17 
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn clean package
          
      
